[user]
    name = 
    email = @gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[github]
    user = 
[diff]
    tool = vimdiff
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

[push]
  default = simple
[pull]
  rebase = true
